ion-header {
    background: var(--ion-color-light);
    ion-list{
        background: var(--ion-color-primary);
        padding: 2vh 0 9vh 0;
        ion-item {
            ion-label{
                font-weight: bold;
                font-size: 1.6rem;
                letter-spacing: 0.5px;
            }
        }
    }

    .popover{
        width: 90%;
        margin: auto;
        ion-item{
            border-radius: 10px;
            margin-top: -6vh;
            ion-icon{
                font-size: 4rem;
            }
            ion-label{
                margin: 3vh 0;
                ion-text{
                    font-size: 0.8rem;
                    font-weight: bold;
                }
                p{
                    ion-text {
                        font-size: 2.5rem;
                        line-height: 1;
                    }
                }
            }
        }
    }
}